extends layout

block content
  .row
    .col-12
      h1  Car Body Repair Service
  .row
    .col-md-6
      // Use the image shown in your prompt
      img.img-fluid(src='/images/Screenshot 2025-10-13 212629.png', alt='Body Repair Service')
    .col-md-6
      p Paint scratches and dents degrades the appearance of your car? Opt for AutoMob-Mechanic's body repair service. This service aims at:
      ul
        li Car dent repair.
        li Car painting.
        li Complete car body repair service.
      
      // Button to book the service
      a.btn.btn-primary(href='/booking') Book Service