extends layout

block content
  h1 Booking Success 🎉
  p Thank you for booking your service with AutoSnap.
  p We will contact you soon with the details via email or phone.
  img(src='/images/thank-you.svg', alt='Thank You Illustration', width='400')
  a(href='/', class='btn') Back to Home
